<div class="p-author flex-shrink-0">

</div>
<div class="u-comment h-cite mb-5">
    <div>
        <a
                rel="author"
                class="u-author h-card font-bold text-sm"
                href="{{ .url }}"
        >
            {{ $name := .author.name | safeHTML }}
            {{ if isset .author "picture" }}
                <img
                        class="u-photo mr-2 float-left w-8 h-8 rounded-full border border-gray-200"
                        loading="lazy"
                        src="{{ $.Site.Params.webmention.webmentionUrl }}{{ .author.picture | safeHTML }}"
                        alt="{{ $name }}"
                />
            {{ else }}
            {{ partial "icon" (dict "name" "user") }}
            {{ end }}
        </a>
        •
        <time class="dt-published text-sm" datetime="{{ .published }}">
            {{ .published | safeHTML }}
        </time>
    </div>
    <p class="p-content p-name text-sm">{{ .content | safeHTML }}</p>
</div>
