{{ with $author := ($.Site.GetPage "page" (printf "authors/%s" .Param "author")) }}
<div class="h-card hidden">
    <p>
        <a class="u-url" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ with $image := $author.Resources.Get "avatar.jpg" | fingerprint }}
        <img class="u-photo" src="{{ ($image.Fit " 200x200 webp").RelPermalink }}" width="200" height="200"
        alt="{{ $author.Param "name" }}" />
        {{ end }}
        <span class="p-name" rel="me">{{ $author.Param "name" }}</span>
    </p>
    {{ with $author.Param "biography" }}
    <p>
        <span class="p-note">{{ . | markdownify }}</span>
    </p>
    {{ end }}
</div>
{{ end }}
