{{- $alt := .Title | default .Text -}}
{{- $loading := cond (.LazyLoad | default false) "lazy" "eager" -}}
{{- $supportedSizes := (.Page.Params.screen_sizes | default .Page.Site.Data.default.screen_sizes ) }}
{{ if hasPrefix .Destination "http" }}
  <figure>
    <img alt="{{ $alt }}" title="{{ $alt }}" src="{{ .URL }}" decoding="async" loading="{{- $loading -}}" />
    <figcaption class="text-sm italic">
      {{ $alt | $.Page.RenderString }}
    </figcaption>
  </figure>
{{ else }}
  {{ $img := .Page.Resources.Get .Destination }}
  {{ $alt := $alt | $.Page.RenderString }}
  <figure class="w-full">
      <picture>
        <source
          type="image/webp"
          srcset="
            {{- range $i, $size := $supportedSizes -}}
              {{- with $resized := (($img.Resize (printf "%0.0fx webp" $size )) | fingerprint) -}}
                {{- if $i }},{{- end -}}{{- printf "%s %dw" .RelPermalink .Width -}}
              {{- end -}}
            {{- end -}}
          "
          sizes="80vw" />
        <source
          type="{{ $img.MediaType }}"
          srcset="
            {{- range $i, $size := $supportedSizes -}}
              {{- with $resized := (($img.Resize (printf "%0.0fx" $size )) | fingerprint) -}}
                {{- if $i }},{{- end -}}{{- printf "%s %dw" .RelPermalink .Width -}}
              {{- end -}}
            {{- end -}}
          "
          sizes="80vw" />
        <img
          decoding="async"
          loading="{{- $loading -}}"
          width="{{ $img.Width }}"
          height="{{ $img.Height }}"
          src="{{ $img.Permalink }}"
          alt="{{ .PlainText }}"
          title="{{ .Title }}" />
      </picture>
    <figcaption class="text-sm italic">
      {{ $alt | $.Page.RenderString }}
    </figcaption>
  </figure>
{{ end }}
