{{- $datafile := replace (trim $.RelPermalink "/" ) "/" "--" -}}
{{- $reactions := slice "in-reply-to" "like-of" "repost-of" "bookmark-of" "mention-of" "rsvp" "follow-of" -}}
{{- $reactionMap := dict
"in-reply-to" "replied"
"like-of" "liked"
"repost-of" "reposted"
"bookmark-of" "bookmarked"
"mention-of" "mentioned"
"rsvp" "RSVPed"
"follow-of" "followed"
-}}

{{- $reactionEmoji := dict
"in-reply-to" "💬"
"like-of" "❤️"
"repost-of" "🔄"
"bookmark-of" "🔖"
"mention-of" "🔖"
"rsvp" "📅"
"follow-of" "👤"
-}}

{{ with index $.Site.Data.webmentions $datafile }}
<aside class="webmentions" id="webmentions">
    <h2 class="text-2xl font-bold">Webmentions</h2>
{{ with (where (index $.Site.Data.webmentions $datafile | default slice) "wm-property" "in" $reactions) }}
    <h3 class="text-xl font-bold">{{ . | len }} Reactions</h3>
    <ul class="reacts not-prose" title="{{ . | len }} Reactions">
        {{ range . }}
        <li>
            <a class="reaction" href="{{ index . "wm-source" }}"
            rel="nofollow ugc" title="{{ .author.name }} {{ index $reactionMap (index . "wm-property") }}: {{ .url }}">
            <img class="author-photo" src="{{ .author.photo }}" loading="lazy" decoding="async" alt="mschoenlaub">
            <span class="emoji">{{- index $reactionEmoji (index . "wm-property") -}}</span>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ with (where (index $.Site.Data.webmentions $datafile | default slice) "wm-property" "==" "in-reply-to") }}
    <details class="mt-4">
        <summary class="mb-4">
            <h3 class="text-xl font-bold inline">{{ . | len }} Comments</h3>
        </summary>
        <ol class="replies not-prose" title="{{ . | len }} Replies">
            {{ range . }} {{ partial "webmention/reply.html" .}} {{ end }}
        </ol>
    </details>
    {{ end }}
</aside>
{{ end }}

{{ with .Site.Params.webmention }}
<h2 class="text-2xl font-bold">Send a Webmention</h2>
<form class="flex justify-around gap-4 border border-dotted border-accent-400 border-2 p-4"action="{{ .webmentionUrl }}{{ .webmentionEndpoint }}">
    <label for="webmention-source" class="m-auto">Your URL</label>
    <input class="flex-grow m-auto p-1" type="url" name="source" id="webmention-source" required placeholder="https://yoursite.com/your-post">
    <input type="hidden" name="target" value="{{ $.Permalink }}">
    <button type="submit" class="submit-button">Send Webmention</button>
</form>
{{ end }}

