{{- $isVerbatim := true -}}
{{- if isset .Attributes "verbatim" -}}
{{- $isVerbatim = .Attributes.verbatim -}}
{{- end -}}
<figure class="highlight text-sm">
    {{- with .Attributes.title }}
    <figcaption>
        <span>{{ . }}</span>
    </figcaption>
    {{- end }}
    <div class="not-prose">
        {{- if transform.CanHighlight .Type }}
        {{- with transform.HighlightCodeBlock . -}}
        {{ .Wrapped | safeHTML }}
        {{- end -}}
        {{- else -}}
        <pre><code>{{ .Inner | safeHTML }}</code></pre>
        {{- end }}
    </div>
</figure>
