{{ define "main" }}
<article
        class="h-entry px-6 mx-auto mb-16 prose sm:max-md:prose-sm lg:prose-lg justify-self-center sm:px-4 md:px-0 dark:prose-invert">
    <hgroup>
        <h1 class="p-name">{{ .Title }}</h1>
        {{- partial "post-meta/top.html" . -}}
    </hgroup>
    {{ with .Params.cover }}
    {{ $caption := .caption | default $.Page.Title }}
    {{ partial "image.html" (dict "Page" $.Page "Destination" .src "Title" $caption) }}
    {{ end }}
    {{- if .Params.series -}}
    {{- with index (.GetTerms "series") 0 -}}
    <aside class="border-l-2 border-l-accent-400 pl-3 text-sm">
        <p>This post is part of the <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> series.</p>
    </aside>
    {{- end -}}
    {{- end -}}
    {{/* h-entry */}}
    <div class="e-content">
        {{ .Content }}
    </div>
    <hr/>
    {{ partial "post-meta.html" . }}
    <hr/>
    {{ partial "webmentions.html" . }}
    {{ partial "comments.html" . }}
</article>
{{ end }}
