{{ define "main" }}
<div class="px-6 mx-auto max-w-2xl mb-16 justify-self-center sm:px-4 md:px-0 prose dark:prose-invert h-feed">
  <h1 class="text-center font-light text-5xl m-0 p-name">{{ .Title }}</h1>
  <hr class="w-48 m-auto my-8 border-accent-400 border-2 rounded-sm" />
  <ol class="not-prose">
    {{ $numberOfItems := .Site.Params.paginate | default 10 }}
    {{ range .Paginator.Pages.ByPublishDate.Reverse | first $numberOfItems }}
    {{ partial "cards/note-card.html" . }}
    {{ end }}
  </ol>
</div>
{{ partial "pagination/prev-next.html" . }}
{{ end }}
