@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline relative;
  }

  nav {
    & a {
      text-decoration: none;
    }
  }

  a {
    &:hover {
      @apply text-[--tw-prose-links];
    }
    @apply underline;
    @apply underline-offset-4;
    text-decoration-color: var(--tw-prose-links);
  }

  form {
    & input[type="url"] {
      @apply rounded-xl p-2;
      @apply bg-accent-100 dark:bg-gray-800;
      @apply text-[--tw-prose-body];

      &::placeholder {
        @apply opacity-90;
      }
    }
  }

  *:focus-visible {
    @apply outline-accent-400;
  }


  .animate-blink {
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }

  .chroma {
    @apply bg-inherit;
  }

  body {
    @apply font-body;
  }

  .no-prose li::before {
    background-color: unset !important;
  }

  .pagination a {
    @apply mx-2 rounded-md text-base border border-gray-300 w-1/2 p-2 items-center justify-center hover:no-underline text-gray-500;
  }

  .feather {
    @apply inline-block;
    @apply -top-0.5 relative;
  }

  .copy-code-button {
    @apply border rounded bg-white dark:bg-gray-500 border-gray-900 block ml-auto mr-0;
    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.875rem;
  }

  .copy-code-button:hover {
    @apply cursor-pointer bg-gray-50 dark:bg-gray-600;
  }

  .copy-code-button:focus {
    @apply outline-none bg-gray-100 dark:bg-gray-700;
  }

  .copy-code-button:active {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  h1.note {
    @apply text-xl hidden;
  }

  hr.note {
    @apply m-1;
  }

  input#nav-toggle:checked ~ label#show-button {
    display: none;
  }

  input#nav-toggle:checked ~ label#hide-button {
    display: flex;
  }

  input#nav-toggle:checked ~ #nav-menu {
    display: block;
  }
}
