@import "fira-sans/index.css";
@import "fira-code/index.css";
@import "merriweather/index.css";
@import "base.css";
@import "monokailight.css";
@import "monokai.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {

  .card {
    @apply bg-white dark:bg-gray-700;
    @apply shadow-sm hover:shadow-lg;
    @apply transition-shadow border border-gray-200 rounded-lg mb-5;
    & a {
      @apply no-underline;
    }
  }

  .featured-card {
    @apply grid gap-0;
    @apply dark:bg-gray-600;
    @apply md:grid-cols-3 grid-cols-1;
    @apply border-2;
    @apply hover:shadow-xl;
  }

  .reply > blockquote {
    @apply flex-grow;
    @apply border-l-0;
    @apply ps-0;
    @apply mt-6;
  }

  .reply-author-avatar {
    @apply rounded-full;
    @apply m-0;
    @apply p-0;
    @apply w-16;
    @apply h-16;
  }

  .reply-body {
    @apply rounded-b-2xl;
    @apply bg-gray-200;
    @apply dark:bg-gray-800;
    @apply rounded-tr-2xl;
    @apply rounded-tl-sm;
    @apply p-4;
    @apply mt-4;
    @apply mb-2;
    @apply text-sm;
  }

  .reacts .author-photo, .replies .author-photo {
    @apply block;
    @apply w-full;
    @apply h-full;
    @apply rounded-full;
    @apply shadow-sm;
    @apply m-0;
    @apply p-0;
  }

  .reacts .emoji, .replies .emoji {
    @apply inline;
    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply m-0;
    @apply p-0;
  }

  .replies, .reacts {
    @apply list-none;
  }

  .replies > :not(:last-child) {
    @apply mb-8;
  }

  .replies > li {
    @apply flex;
    @apply gap-1;
  }

  .replies .reply footer > :not(:last-child)::after {
    content: "•";
    @apply ms-1;
  }

  .reacts {
    @apply grid;
    @apply gap-0.5;
    grid-template-columns: repeat(auto-fill, 4rem 4rem);
    justify-content: center;
    padding-bottom: 1.6rem;
  }

  .reacts li {
    @apply w-16;
    @apply h-16;
    @apply relative;
    @apply m-0;
    @apply p-0;
  }

  .reacts a {
    @apply rounded-full;

    &:hover > * {
      @apply scale-110;
    }
  }

  .replies a {
    &:hover > * {
      @apply scale-110;
    }
  }

  .reacts > li:nth-child(2n) {
    margin-top: 2.1rem;
    margin-bottom: -1.6rem;
  }

  .tag {
    @apply rounded-md;
    @apply border border-accent-400;
    @apply w-1/2 py-1 px-2 items-center justify-center;
    @apply no-underline;
  }

  .submit-button {
    &:hover {
      @apply bg-accent-700;
    }

    @apply transition-colors;
    @apply bg-accent-400 dark:bg-accent-600;
    @apply text-[--tw-prose-body];
    @apply py-2 px-4 rounded-full;
  }

  .theme-switch {
    @apply bg-gray-100 dark:bg-gray-800;
    @apply text-gray-500 dark:text-gray-300;
    --diameter: 1.5em;
    --spacing: 2px;
    inline-size: calc(var(--diameter) * 2 + var(--spacing) * 2); /* width */
    block-size: calc(var(--diameter) + var(--spacing) * 2); /* height */
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    & svg {
      height: var(--diameter); /* width */
      width: var(--diameter); /* height */
      padding: 1px;
    }
  }

  .theme-switch:disabled {
    @apply opacity-50;
    cursor: not-allowed;
  }

  .theme-switch::before {
    @apply bg-accent-400;
    --offset: calc(100% - var(--diameter) - var(--spacing) * 2);
    content: '';
    position: absolute;
    inset-inline-start: var(--spacing); /* left */
    inset-block-start: var(--spacing); /* top */
    border-radius: 100vh;
    inline-size: var(--diameter); /* width */
    block-size: var(--diameter); /* height */
    transition: inset-inline-start 0.4s ease-in-out; /* left */
  }

  .theme-switch[aria-pressed='true']::before {
    inset-inline-start: calc(var(--spacing) + var(--offset)); /* left */
  }

  .no-js .theme-switch {
    display: none;
  }

  @media (prefers-reduced-motion) {
    .theme-switch {
      transition-duration: 0.01s;
    }

    .theme-switch::before {
      transition-duration: 0.01s;
    }
  }
}
